:root {
  --purrblocks-color-accent-green: #28DE5B;
  --purrblocks-color-background-light: #F8FAFC;
  --purrblocks-color-background-dark: #0F1115;
  --purrblocks-color-text-light: #FFFFFF;
  --purrblocks-color-text-dark: #000000;
}